@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #2D2F2E;
  --primary: #3B5D4F;
  --primary-dark: #2F4A3F;
  --secondary: #F0F2F1;
  --secondary-dark: #E0E2E1;
  --text-light: #DBEDE5;
  --accent: #F6C03A;
  --accent-dark: #E5B02A;
}

@theme inline {
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-secondary: var(--secondary);
  --color-secondary-dark: var(--secondary-dark);
  --color-accent: var(--accent);
  --color-accent-dark: var(--accent-dark);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-text-light: var(--text-light);
  --font-sans: var(--font-inter);
  --font-heading: var(--font-poppins);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #F0F2F1;
    --primary: #3B5D4F;
    --primary-dark: #2F4A3F;
    --secondary: #F0F2F1;
    --secondary-dark: #E0E2E1;
    --accent: #F6C03A;
    --accent-dark: #E5B02A;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading), Arial, Helvetica, sans-serif;
}